@page "/fetchdata"

@using Blazorise.DataGrid.Template.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<DataGrid TItem="WeatherForecast"
    Data="@ForecastService.Data" ReadData="@ForecastService.OnReadDataAsync" TotalItems="@ForecastService.TotalItems"
    ShowPager="true"
    Filterable="true"
    Class="table-bordered">
    <ChildContent>
        <DataGridColumn TItem="WeatherForecast" Field="@nameof(WeatherForecast.Date)" Caption="Date">
            <DisplayTemplate>
                @($"{context.Date.ToShortDateString()}")
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="WeatherForecast" Field="@nameof(WeatherForecast.TemperatureC)" Caption="Temp. (C)" />
        <DataGridColumn TItem="WeatherForecast" Field="@nameof(WeatherForecast.TemperatureF)" Caption="Temp. (F)" />
        <DataGridColumn TItem="WeatherForecast" Field="@nameof(WeatherForecast.Summary)" Caption="Summary" />
    </ChildContent>
    <LoadingTemplate>
        <p><em>Loading...</em></p>
    </LoadingTemplate>
</DataGrid>

@code {
}